.manage-items-container {
  .button-row {
    margin-bottom: 10px;
  }

  .grid-box {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .grid-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 352px;
  }
}
